<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="logFile" value="StockStatusMPOUS.txt"/>
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\StockStatusMPOUS\log\"/>
    <add key="outFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\StockStatusMPOUS\"/>
    <add key="cnctMPOUS" value="Data Source=iv-mpous-db;Database = PointOfUseSupply; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
    <add key="cnctMPOUS_TEST" value="Data Source=ivt-mpous-db;Database = PointOfUseSupply; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>

    <add key="email_to_list" value="dlrjones@uw.edu"/>
    <!-- jbu@uw.edu	>> separate items with semicolon (;) -->
    <add key="email_to_first_name" value="Josh"/>
    <!-- use "" if you don't want the name added to the email -->
    <add key="email_reply_to" value="dlrjones@uw.edu"/>
    <add key="email_copy_to" value=""/>
  </appSettings>
  
</configuration>
